<!DOCTYPE html>
<html>

<head>
  <title>Ausleihe</title>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@latest"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body>
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold text-clifford">
      Ausleihe
    </h1>
    <form hx-get="/" hx-ext="json" hx-target="body">
      <input id="startDateTime-{{.ID}}" type="datetime-local" name="startDateTime"
        class="mt-1 mb-3 border rounded px-2 py-1" required value={{ .Now }}>

      <input id="endDateTime-{{.ID}}" type="datetime-local" name="endDateTime"
        class="mt-1 mb-3 border rounded px-2 py-1" required value={{ .NextWeek }}>

      <br />

      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
    </form>
    <div id="items-list">
      <ul>
        {{ range .Items }}
        <li>{{ .ID }}: {{ .Name }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</body>

</html>
